.pedidos {
    padding: 20px;
    height: 550px;
  }
  
  .pedidos h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .pedidos table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .pedidos th, .pedidos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .pedidos th {
    background-color: #f2f2f2;
  }
  
  .pedidos tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .pedidos tr:hover {
    background-color: #ddd;
  }
  