.carrocel {
    width: 100%;
    background-color: rgba(0, 0, 50, 0.9);
    color: aliceblue;
}

.frame0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.frame0 img {
    width: 100%;
    height: auto;
    max-height: 200px; /* Ajuste a altura máxima da imagem conforme necessário */
    border-radius: 10px;
}

.frame0 span {
    margin-top: 10px;
    font-size: 16px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
}
